services:
  ci-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    env_file:
      - dockertest.env
      - .env
    depends_on:
      - pennsievedb
      - minio
      - dynamodb
    environment:
      - POSTGRES_HOST=pennsievedb
      - MINIO_URL=http://minio:9000
      - DYNAMODB_URL=http://dynamodb:8000
    volumes:
      - $PWD:/go/src/github.com/pennsieve/packages-service
  pennsievedb:
    image: pennsieve/pennsievedb:V20230315145959-seed
    restart: always
  #    command: [ "postgres", "-c", "log_statement=all" ]
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    environment:
      - MINIO_ROOT_USER=${TEST_AWS_KEY}
      - MINIO_ROOT_PASSWORD=${TEST_AWS_SECRET}
    command: server --console-address ":9001" /data
  dynamodb:
    image: amazon/dynamodb-local
    restart: always
